@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@comicBook.DisplayText</h4>
            <a href="@Url.Action("Detail", "ComicBooks", new { id = comicBook.ID })">
                <img style="height:100%" src="/Images/@comicBook.CoverImageFileName"
                     alt="@comicBook.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    }
</div>

